 body {
            background-color: #85CDCA;
            font-family: 'Fredoka One', cursive;
        }

        #wrap {
            background-color: #40B3A2;
            margin-top: 15px;
            padding-bottom: 10px;
        }

        #canvasphoto {
            max-width: 250px;
            background-color: white;
            margin-top: 10px;
            border: dashed 3px red;
        }

        #inputphoto {
            margin: auto;
            display: block;
        }

        #blockeffect {
            text-align: center;
        }


        #blockreset {
            text-align: center;
        }

        #blockdownload {
            text-align: center;
        }

        .input {
            text-align: center;
        }

        span {

            font-size: 15px;
        }

        .button1 {
            background-color: white;

            border: 2px solid #555555;
            border-radius: 5px;
        }

        #row1 {
            padding: 5px;
        }

        #effect {
            background-color: #C38D9E;
            padding: 5px;
        }

        #download {
            background-color: #E8A87C;
        }

        #reset {
            background-color: #E27D61;
        }